.diddoWidgetHeader {
	font-size: 25px;
}

.diddoTitle {
	font-size: 18px;
	display: block;
	float: left;
	margin-right: 10px;
}

.diddoSubTitle, .diddoMailer {
	font-size: 10px;
	display: block;
	color: gray;
}

.team > .diddoMailer:hover {
	color: #fff;
}

.user > .diddoMailer:hover {
	color: #000;
}

.diddoControls {
	float: right;
}

.diddoFooterControl {
	background: #22252A;
}

.team {
	background: #22252A;
	border: solid;
	border-color: gray;
	border-width: 1px;
	margin: 10px;
	padding: 10px;
}

.user {
	border: solid;
	border-color: gray;
	border-width: 1px;
	margin: 10px;
	padding: 10px;
	min-width: 200px;
	max-width: 500px;
	display: inline-block;
	color: #000000;
}

.impediment {
	color: #fff;
	border: solid;
	border-color: gray;
	border-width: 1px;
	margin: 10px;
	padding: 10px;
	min-width: 200px;
	max-width: 500px;
	display: inline-block;
}

.diddoData {
	color: #000;
	font-size: 11px; 
}

.diddoDescription {
	margin: 20px;
	font-size: 10px;
	text-align: justify;
}
.team:hover {
	background: #000;
	cursor: pointer;
}
