<div data-dojo-attach-point="containerNode">
	<div data-dojo-type="dijit.layout.BorderContainer"  data-dojo-props="gutters: false, liveSplitters:false" style="background: none;width: 100%; height: 100%;margin: 0;">
	  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'Center'">
	    
	    <span data-dojo-attach-point="impedimentNode"></span>
	  </div>
	  <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'bottom'" data-dojo-attach-point="controlsNode" class="diddoFooterControl">
	    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="addImpedimentButton" baseClass="btn btn-success pull-left">
	      <i class="icon-plus-sign icon-white"></i> Add Impediment
	    </div>
	  </div>
	</div>
</div>