<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="resolveButton" baseClass="btn btn-mini" alt="Resolve"> <i class="icon-ok"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" alt="Delete"> <i class="icon-trash icon-white"></i>    </div>
  </div>
  <span class="diddoTitle" data-dojo-attach-point="descriptionNode"></span>
  <span class="diddoSubTitle" data-dojo-attach-point="sprintNode"></span>
  <span class="diddoSubTitle" data-dojo-attach-point="submitterNode"></span>
  <span class="diddoSubTitle" data-dojo-attach-point="submitteddateNode"></span>
</div>