<div>
  <div class="diddoTaskHeader blue" data-dojo-attach-point="taskHeaderNode">
    <div class="diddoCircle white"><p data-dojo-attach-point="taskNumberNode"></p></div>
    <div class="diddoTaskOwner" data-dojo-attach-point="ownerNode"></div>
    <div class="diddoTaskControlBar">
    <span data-dojo-attach-point="moveBackButton" title="Move back the task" style="display:none;"><i class="icon-circle-arrow-left" ></i></span>
    <span data-dojo-attach-point="markAsDoneButton" title="Mark Task as Done" style="display:none;"><i class="icon-ok-sign"></i></span>
    <span data-dojo-attach-point="changeOwnerButton" title="Assign/Change Owner" style="display:none;"><i class="icon-user"></i></span>
    <span data-dojo-attach-point="editButton" title="Edit Task"><i class="icon-edit"></i></span>
    <span data-dojo-attach-point="deleteButton" title="Delete Task"><i class="icon-remove-sign"></i></span>
    <span data-dojo-attach-point="putADotButton" title="Put a DOT (Incomplete task)" style="display:none;"><i class="icon-certificate"></i></span>
  </div>
  </div>
  <div class="diddoTaskDescription" data-dojo-attach-point="descriptionNode"></div>
  
</div>