<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="completeButton" baseClass="btn btn-mini" alt="Complete"> <i class="icon-ok"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" alt="Delete"> <i class="icon-trash icon-white"></i>    </div>
  </div>
  <span class="diddoData">Task Number: <span data-dojo-attach-point="taskNumberNode"></span></span><br/>
  <span class="diddoData" data-dojo-attach-point="descriptionNode" class="diddoDescription"></span><br/>
  <span class="diddoData">Status: <span data-dojo-attach-point="statusNode"></span></span><br/>
  <span class="diddoData">Owner: <span data-dojo-attach-point="ownerNode"></span></span>
  <span class="diddoData">User Story: <span data-dojo-attach-point="userStoryNode"></span></span>
  <span class="diddoData">Start Date: <span data-dojo-attach-point="startdateNode"></span></span>
</div>