<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="editButton" baseClass="btn btn-mini" alt="Edit"> <i class="icon-edit"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" alt="Delete"> <i class="icon-trash icon-white"></i> </div>
  </div>
  <span class="diddoTitle" data-dojo-attach-point="teamName"></span>
  <span class="diddoSubTitle">Scrum Master: <span data-dojo-attach-point="SM"></span></span>
  <span class="diddoMailer"><i class="icon-envelope icon-white"></i>  <span data-dojo-attach-point="mailer"></span></span>
</div>