<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="editButton" baseClass="btn btn-mini" alt="Edit"> <i class="icon-edit"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" alt="Delete"> <i class="icon-trash icon-white"></i> </div>
  </div>
  <div class="diddoTitle" data-dojo-attach-point="usernameNode"></div><br/>
  <div class="diddoMailer"><i class="icon-envelope"></i>  <span data-dojo-attach-point="mailerNode"></span></div>
</div>