<div>
  <div class="diddoTitle">
    <span data-dojo-attach-point="friendlyIDNode"></span> -
    <span data-dojo-attach-point="titleNode" style="font-size: 13px;"></span>
  </div><br/>
  <div class="diddoDescription" data-dojo-attach-point="descriptionNode" style="padding: 10px;"></div>
  <div class="diddoTitle">Exit Criteria</div><br/>
  <div style="margin-top: 10px;">
    <span data-dojo-attach-point="exitCriteriaNode"></span>
    <div data-dojo-attach-point="addExitCriteriaNode" class="exitcriteria" style="text-align: center;border-style:dotted;border-width:3px;cursor: pointer;">Add Exit Criteria</div>
  </div>
</div>