<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="editButton" baseClass="btn btn-mini" title="Edit"> <i class="icon-edit"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" title="Delete"> <i class="icon-trash icon-white"></i> </div>
  </div>
  <span class="diddoTitle" data-dojo-attach-point="friendlyIDNode"></span> - <span class="diddoTitle" data-dojo-attach-point="titleNode"></span><br/>
  <br/>
  <span class="diddoSubTitle pull-right">Points Burnt: <span data-dojo-attach-point="burntPointsNode"></span></span>
  <span class="diddoSubTitle">Points: <span data-dojo-attach-point="pointsNode"></span></span>
</div>