<div>
  <div class="diddoControls">
    <div>
       <span class="diddoTitle" data-dojo-attach-point="title"></span><br/>
       <span class="diddoSubTitle" data-dojo-attach-point="description"></span>
       <span class="diddoData">Start Date: <span data-dojo-attach-point="startDate"></span></span>
       <span class="diddoData">End Date: <span data-dojo-attach-point="endDate"></span></span>
       <span class="diddoSubTitle">Exit Criteria</span>
       <table>
       <tbody data-dojo-attach-point="table">
       </tbody>
       </table>
    </div>
    <div data-dojo-attach-point="chart" ></div>
    <!--  <i class="icon-ok"></i>  -->
  </div>
</div>