<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="editButton" baseClass="btn btn-mini" title="Edit"> <i class="icon-edit"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" title="Delete"> <i class="icon-trash icon-white"></i> </div>
  </div>
  <span class="diddoTitle" data-dojo-attach-point="friendlyIDNode"></span><br/>
  <span class="diddoData" style="color: gray; font-size: 12px;" data-dojo-attach-point="titleNode"></span><br/>
</div>