<div>
  <div class="diddoControls">
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="editButton" baseClass="btn btn-mini" title="Edit"> <i class="icon-edit"></i> </div>
    <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="deleteButton" baseClass="btn btn-danger btn-mini" title="Delete"> <i class="icon-trash icon-white"></i> </div>
  </div>
  <span class="diddoTitle" data-dojo-attach-point="friendlyIDNode"></span> - <span class="diddoTitle" data-dojo-attach-point="titleNode"></span><br/>
  <div>
    <span class="pull-right">
      <span class="diddoData">Unplanned: <span data-dojo-attach-point="unplannedNode"></span></span><br/>
      <span class="diddoData">Spill Over: <span data-dojo-attach-point="spillOverNode"></span></span>
    </span>
    <span>
      <span class="diddoData">Points: <span data-dojo-attach-point="pointsNode"></span></span><br/>
      <span class="diddoData">Points Burnt: <span data-dojo-attach-point="burntPointsNode"></span></span><br/>
    </span>
  </div>
</div>